header {
  float: left;
  line-height: 24px;
  vertical-align: middle;
  margin-top: 18px;
  margin-right: 10px;
}

li {
  display: inline;
  list-style: none;
}

.notif_pic {
  height: 15px;
  width: auto;
  margin-bottom: -3px;
  margin-right: -10px;
}

.wrapper, .links {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

footer {
  background-color: #f2f2f2;
  clear: both;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 40px;
  border-top: 1px solid #e4e4e4;
}

.left_foot_links {
  float:left;
}

.right_foot_links, header {
  float: right;
}

.main {
  position: relative;
  display: block;
  margin: 198px auto;
  width: 290px;
}

.left_foot_links, .right_foot_links {
  margin: 9px -9px;
}

.left_foot_links li a, .right_foot_links li a{
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #666;
  padding: 0 13px 0 13px;
}

.norm_link {
  text-decoration: none;
}

header .norm_link {
  color: #000000;
  opacity: .75;
  font-family: arial, sans-serif;
  font-size: 13px;
  padding: 6px;
}

.norm_link:hover {
  opacity: 1;
  text-decoration: underline;
}

form input, form .buttons{
  margin: auto;
}

form input {
  position: relative;
  height: 40px;
  width: 580px;
  margin-top: 20px;
  margin-left: -155px;
  border: 1px solid #e3e3e3;
  border-bottom: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: 0 1.5px 1px #e3e3e3;
  line-height: 50px;
  text-indent: 20px;
  -webkit-transition: all 0.1s ease-in;

}

form input:hover {
  box-shadow: 0px 3px 7px #e3e3e3;
}

form input:focus {
  border: 1px solid #e3e3e3;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1.5px 1px #e3e3e3;
}

.buttons {
  position: relative;
  top: 33px;
}

.button_search {
  padding: 10px 18px 10px 18px;
  height: 36px;
  margin: 2px;
  font-weight: bold;
  font-family: arial, sans-serif;
  color: #757575;
  border: none;
  background-color: #f2f2f2;
  display: inline;
  border-radius: 2px;
}

.button_search:hover {
  background-color: #f8f8f8;
  color: #000000;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
